html, body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

// .sortable-drag {
//     opacity: 1;
//     color: blue;
// }

// .sortable-chosen {
//     color: red;
// }